<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: lightsteelblue; display: flex; justify-content: center; align-content: center;" ">
    <p style="font-size: xx-large; ">YOU HAVE SIGENDUP/EDIT GO BACK TO <a href="/ ">HOME</a> PAGE AND LOG IN</p>
</body>

</html>